<!DOCTYPE html>
<html>
    <head>

    </head>
    <body>
        <h1>Agregar Gatitos</h1>
        <br>
        <h3>ingrese el nombre de su gato</h3>
        <br>
        <input type="text">
        <br>
        <h3>ingrese la raza de su gato</h3>
        <br>
        <input type="text">
        <br>
        <h3>ingrese la edad de su gato</h3>
        <br>
        <input type="number">
        <br>
        <h3>ingrese el genero de su gato</h3>
        <br>
        <input type="text" >
        <br>
        <h3>ingrese el color de su gato</h3>
        <br>
        <input type="text">
        <br>
        <h3>ingrese el peso de su gato</h3>
        <br>
        <input type="number">
        <br>
        <button>Guardar</button>
        
    </body>
</html>