<!DOCTYPE html>
<html>
    <head>
        
    </head>
    <style>
        table{
            border-style: solid;
        }
    </style>
    <body>

        <table>
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Edad</th>
                    <th>Raza</th>
                    <th>Genero</th>
                    <th>Color</th>
                    <th>Peso</th>
                </tr>
            </thead>
            <tbody>
                <!-- gato toma el valor de cada objeto que haya dentro del diccionario o lista -->
                {%for gato in gatos %}

                <tr>
                    <td>{{gato.nombre}}</td>
                    <td>{{gato.edad}}</td>
                    <td>{{gato.raza}}</td>
                    <td>{{gato.genero}}</td>
                    <td>{{gato.color}}</td>
                    <td>{{gato.peso}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

    </body>
</html>