<!DOCTYPE html>
<html>
    <head>
        
    </head>
    <style>
        table{
            border-style: solid;
        }
    </style>
    <body>
        <table>
            <tr>

                <td>Nombre</td>
            
                <td>Edad</td>
            
                <td>Raza</td>

                <td>Genero</td>

                <td>color</td>

                <td>peso</td>
            
            </tr>
            
            <tr>
            
                <td>juan</td>
            
                <td>2 años</td>
            
                <td>Abisinio</td>
            
            </tr>
        </table>

        {{gato1}}
    </body>
</html>