<!DOCTYPE html>
<html>
    <head>
        
    </head>
    <style>

    </style>
    <body>
        <table>
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Edad</th>
                    <th>Vocación</th>
                </tr>

            </thead>
            <tbody>
                {% for persona in personas %}
                <tr>
                    <td>{{persona.nombre}}</td>
                    <td>20</td>
                    <td>Alfaltero</td>
                </tr>

            </tbody>
            
        </table>

        <h1></h1>

    </body>
</html>